.crx-iframe {
  width: 360px;
  height: 100%;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  background-color: #FFF;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 9000000000000000000;
  
}

iframe.ifram-animation-in {
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

iframe.ifram-animation-out {
  animation: slideOut 0.3s ease-in-out;
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
    }
  
    to {
      transform: translateX(100%);
      opacity: 0;
    }
}